/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f8eae0;
  }

  header {
    background-color: #f77f00;
    color: white;
    padding: 15px;
    text-align: center;
  }

  header h1 {
    font-size: 40px;
    font-weight: bold;
  }

  main {
    padding: 10px;
    background-color: #fff8f1;
    display: grid;
    grid-template-columns: .20fr 1fr;
    gap: 20px;
  }



h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* search section  */
#search-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#search-form label {
    font-weight: bold;
}

#search-form input[type="text"] {
    padding: 8px 10px;
    font-size: 15px;
    background-color: #fdd1a5;
    border: none;
    border-radius: 4px;
}

#search-form input[type="text"]::placeholder {
    color: #a16902;
}

#search-form button[type="submit"] {
    color: #fdd1a5;
    background-color: #e55e00;
    cursor: pointer;
    border-radius: 4px;
}

/* current weather section */
#current-weather-section {
    grid-column: 2 / -1;
    border: 1px solid #e55e00;
    box-shadow: 2px 2px 4px;
    padding: 10px;
}

#current-weather-info {
    display: flex;
    align-items: center;
    gap: 20px;
}

#current-weather-details p {
    margin-bottom: 20px;
}

/* forecast section */
#forecast-section {
    grid-column: 2 / 2;
}

#forecast-info {
    display: flex;
    gap: 10px;
}

#forecast-info div {

    box-shadow: 2px 2px 4px;
    background-color: #fdd1a5;
    padding: 10px;
}

#forecast-info p {
    margin: 5px;
    margin-bottom: 20px;
}

#forecast-info img {
    width: 50px;
    height: 50px;
}

#forecast-info h3 {
    font-size: 15px;
    font-weight: bold;
}